rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Station data is read only
    match /stations/{station} {
      allow read: if true;
      allow write: if false;
    }

    // Everything else should not be accesible to end users
    match /{document=**} {
      allow read, write: if false
    }
  }
}