.topPanel {
  background-color: #7a479c;
  background-image: linear-gradient(#19164f, #7a479c);
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  /* height: 80vh; */
  height: 100vh;
  box-sizing: border-box;
}

.topPanel-infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

#topPanel-temperature {
  font-size: clamp(4rem, 10vw, 7rem);
  margin: 0 0 0 0;
  font-weight: normal;
}

#topPanel-location {
  font-size: 1.4rem;
  margin: 0;
  font-weight: normal;
}

.topPanel-additionalValues {
  display: flex;
  /* width: 40%; */
  /* min-width: 450px; */
  justify-content: center;
  align-items: center;
  margin: 3.5rem 0 0 0;
  flex-wrap: wrap;
}

.topPanel-additionalValues_value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em 1.5em;
}

.topPanel-additionalValues_value img {
  height: 2.5rem;
}

.topPanel-additionalValues_value p {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.5rem 0 0 0;
}

.topPanel-dateTime {
  margin: 5% 0 2rem 0;
}

.topPanel-dateTime_time {
  font-size: 4rem;
  font-weight: normal;
  margin: 0;
}

.topPanel-dateTime_time span {
  font-size: 2rem;
}

.topPanel-dateTime_date {
  margin: 0;
  font-weight: normal;
  font-size: 1.8rem;
}

.topPanel-mapBtn {
  position: absolute;
  bottom: 1em;
  right: 1em;
  background-color: #2d3436;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  padding: 0.6rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  transition: all 100ms ease-in-out;
}

.topPanel-mapBtn:hover {
  box-shadow: 0 0 0.5rem 0.1em rgba(0, 0, 0, 0.37);
  transform: scale(1.05);
}
